.profile{
   border-radius: 10%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 20%;
   border: solid teal;
   justify-content: center;
   align-items: center; 
   display: block;
   list-style-type: disc;
   margin-top: 1em;
}

.profile:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .description img{
     width: 20%;
  }